html {
	background-image: url("pink-pattern.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	color: #ff977a;
}
#askUser {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ff977a;
	font-weight: bold;
}
#cipherDecipherBox {
	align-content: center;
	margin: 40px;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
a {
	color: #ff977a;
}
.buttons {
	border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: #ff977a;
    color: white;
}